
/****************************** FONT STYLE ***************************/

@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url("../fonts/AvenirNextCyr-Bold.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-BoldItalic";
  src: url("../fonts/AvenirNextCyr-BoldItalic.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-Demi";
  src: url("../fonts/AvenirNextCyr-Demi.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-DemiItalic";
  src: url("../fonts/AvenirNextCyr-DemiItalic.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-Heavy";
  src: url("../fonts/AvenirNextCyr-Heavy.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-HeavyItalic";
  src: url("../fonts/AvenirNextCyr-HeavyItalic.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-Italic";
  src: url("../fonts/AvenirNextCyr-Italic.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-Light";
  src: url("../fonts/AvenirNextCyr-Light.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-LightItalic";
  src: url("../fonts/AvenirNextCyr-LightItalic.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-Medium";
  src: url("../fonts/AvenirNextCyr-Medium.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-MediumItalic";
  src: url("../fonts/AvenirNextCyr-MediumItalic.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-Thin";
  src: url("../fonts/AvenirNextCyr-Thin.otf") format('opentype');
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextCyr-ThinItalic";
  src: url("../fonts/AvenirNextCyr-ThinItalic.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-UltraLight";
  src: url("../fonts/AvenirNextCyr-UltraLight.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr-UltraLightIt";
  src: url("../fonts/AvenirNextCyr-UltraLightIt.otf") format('opentype');
  font-display: swap;
}







.font-family-AvenirNextCyr-Bold {
  font-family: "AvenirNextCyr-Bold", "AvenirNextCyr-Demi", sans-serif !important;
}

.font-family-AvenirNextCyr-BoldItalic {
  font-family: "AvenirNextCyr-BoldItalic", "AvenirNextCyr-DemiItalic", sans-serif !important;
}

.font-family-AvenirNextCyr-Demi {
  font-family: "AvenirNextCyr-Demi", sans-serif !important;
}


/********************************** COLOR STYLE *****************************/


$mainFirstColor: black;
$mainSecondColor: white;
$mainThirdColor: green;
$mainFourthColor: red;


/********************* ICON STYLE ********************************/


.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  background-color: $mainFourthColor;
  vertical-align: middle;

  &.icon-Vector {
    mask-image: url("../img/Vector.svg");
    -webkit-mask-image: url("../img/Vector.svg");
  }
  &.icon-Vector2 {
    mask-image: url("../img/Vector 2.svg");
    -webkit-mask-image: url("../img/Vector 2.svg");
  }
  &.icon-Vector3 {
    mask-image: url("../img/Vector 3.svg");
    -webkit-mask-image: url("../img/Vector 3.svg");
  }
}


body {
  padding: 0;
  margin: 0;
    background-color: #F2F2F2;
  header {

    .navbar {
      background-color: rgba(0,0,0,0.8) !important;
      color: white !important;
      .container {
        .navbar-brand {
          width: 160px;
          .img1 {
            padding: 0 !important;
            margin: 0!important;
            transform: translateY(-7px);
          }
          .img2 {

            transform: translate(-140px, 13px);
          }
        }
        .my-buttton{

        }
        .navbar-collapse {
          .navbar-nav {
            overflow: hidden;
            .active {
              border-bottom: 2px solid red;
            }
            .nav-item {
              display: inline-block;
              margin-right: 30px;
              border-bottom: 2px solid transparent;
              transition: linear 0.4s;

              &:hover {
                border-bottom: 2px solid red;
              }
              .nav-link {
                color: white;
                padding: 10px 0 10px 0;

              }
            }
          }
          .dropdown {

            .btn{
              -webkit-box-shadow: none!important;
              margin-left: -10px;
            }
            .btn-secondary {
              background-color: transparent !important;
              outline: none;
              border: none;

            }
            .dropdown-menu {
              .dropdown-item {

              }
            }
          }
        }
      }
    }
  }

  .section-1 {
      .container-fluid {
        .row-1 {
          .col-lg-12 {
            .card {
              background-size: cover;
              background-repeat: no-repeat;
              background-image: url(../img/textImgs.png);
              border: none;
              min-height: 430px;
              .box {
                width: 100%;
                min-height: 430px;
                background-color: rgba(88,89,127,0.4);
                padding-top: 13%;
                color: white;
              }

            }
          }
        }
        .row-2 {
          justify-content: center;
         .col-lg-4 {
           transform: translateY(-80px);
           .card {
             border: none;
             box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
             border-radius: 8px;
             padding: 20px;
             height: 260px;
             h5 {
               text-align: center;
               border-bottom: 2px solid red;
               padding-bottom: 15px;
             }
             p {
               font-size: 16px;
               line-height: 22px;
               text-align: center;
               color: #1C1C1C;
             }
           }
         }
        }
        .row-3 {
          .card-11 {
            border: none;
            width: 100%;
            background-image: url(../img/Rectangle.png);
            background-size: cover;
            min-height: 400px;
            color: white;
            .row {
              position: absolute;
              width: 100%;
              padding-top: 70px;
              justify-content: center;
              align-items: center;
              .col-lg-3 {
                padding: 10px;
                .card {
                  color: white;
                  background-color: red;
                  padding: 12px;
                }
                p{
                  margin: 0;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 110.9%;
                  color: #FFFFFF;
                  padding-bottom: 14px;
                }
                h5  {
                  margin: 0 0 12px 0;

                }
                button {
                  background-color: white !important;
                  color: red;
                  border: white;
                  &:hover {
                    background-color: red !important;
                    color: white;
                  }
                }
              }
            }

          }
        }


      }

  }
  .section-22 {
    .container {
      .row {
        nav {
          margin-top: 45px;
          width: 100%;

          .nav-tabs {
            display: flex;
            justify-content: space-between;
            border-bottom: none;
            .nav-link {
              padding: 0 0 7px 0;
              color: silver !important;
              border-bottom: 2px solid transparent;
              &:hover {
                color: black !important;
                //border: none;
              }
            }
            .active {
              border-bottom: 2px solid red;
              border-top: none;
              border-right: none;
              border-left: none;
              color: black !important;
              background-color: transparent;
            }
          }
        }
        .tab-content {
          padding-bottom: 150px;
          .row{
            justify-content: space-between;
            .col-lg-3 {
              .card {
                overflow: hidden;
                box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
                border-radius: 8px;
                width: 100% !important;
                height: 100%;
                &:hover {
                  cursor: pointer;
                  img {
                    transform: scale(1.1) !important;
                  }
                }
                img {
                  transition: linear 0.4s;
                }

                .box {
                  padding: 4px;
                  border-radius: 8px;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0,0,0,0.5);
                  text-align: center;
                  position: absolute;
                  transition: linear 0.5s;
                  opacity: 0;
                  &:hover {
                    opacity: 1;
                  }


                }
                .card-footer {
                  border-top: 2px solid red;
                  background-color: transparent;
                  position: relative;
                  p {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                    color: #000000;
                  }

                }
              }
              .my-card {
                width: 100%;
                height: 140px;
                overflow: hidden;
                img {
                  width: 100%;
                }
              }


            }
            .col-lg-12 {
              h4 {
                display: inline-block;
                border-bottom: 2px solid red;
                padding-bottom: 9px;
              }

            }
            .col-12 {
              padding-top: 20px;
              display: flex;
              justify-content: center;
              i {
                padding: 12px;
                cursor: pointer;
                font-size: 28px;
                margin-right: 40px;
                margin-left: 45px;
                border-radius: 8px;
                &:hover {
                  background-color: white;
                  color: red;
                }
              }

            }
            .col-lg-4 {
              align-items: center;
              margin-top: 100px;
              h5 {
                display: inline-block;
                border-bottom: 2px solid red;
                padding-bottom: 7px;
                padding-top: 30%;
              }
              p {
                font-size: 14px;

              }
            }
            .col-lg-7 {
              margin-top: 100px;
              .card {
                border: none;
                background-color: transparent;
                img {
                  width: 100%;
                }
              }
            }
          }
        }

      }
    }
  }

  .footer {
    background-color: #1C1C1C;
    color: white;
    padding-bottom: 27px;
    .container {
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
      }
      h4 {
        padding-top: 44px;
        text-align: center;
      }
      .row {
        .my-col6 {
          a{
            .img2 {
              transform: translate(10px,-10px);
            }
          }
        }
        .my-col3 {

          .box {
            width: 40px;
            height: 40px;
            background-color: #272727;
            border-radius: 50%;
            cursor: pointer;
            transition: linear 0.5s;
            &:hover {
              background-color: white;
            }
          }

        }

        .my-col {
          margin-top: 64px;
          .btn-danger {
            margin-bottom: 46px;
            background-color: red !important;
          }
          form {
            margin-bottom: 45px;
            .form-row {
              .col {

                input {

                  border-radius: 0;
                  outline: none !important;

                  background-color: transparent !important;
                  border: none;
                  border-bottom: 1px solid white;
                  padding-bottom: 15px !important;
                  &:focus{
                    -webkit-box-shadow: none;
                  }

                }
              }
              .two {
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
    hr {
      background-color: white;
    }
  }
}